.h1 {
 font: var(--h1-bold)
}

.h2 {
  font: var(--h2-semibold)
}

.h3 {
  font: var(--h3-semibold)
}

.h4 {
  font: var(--h4-semibold)
}

.h5 {
  font: var(--h5-semibold)
}

.h6 {
  font: var(--h6-semibold)
}

.body-xs-regular {
  font: var(--body-xs-regular)
}

.body-s-medium {
  font: var(--body-s-medium)
}

.body-m-regular {
  font: var(--body-m-regular)
}

.body-m-medium {
  font: var(--body-m-medium)
}

.body-m-semibold {
  font: var(--body-m-semibold)
}

.body-xl-semibold {
  font: var(--body-xl-semibold)
}

.body-xxl-semibold {
  font: var(--body-xxl-semibold)
}

