.UserInfo {
  display: grid;
  grid-auto-flow: column;

  border-bottom: 1px solid var(--color-gray-3);

  background-color: var(--color-gray-4);
}

.UserInfoField {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14px 20px;
}

.UserInfoRole,
.UserInfoSubscriptionType,
.UserInfoTokens,
.UserInfoControls {
  display: none;
}

.UserInfoText {
  color: var(--color-white);
}

.UserInfoControls {
  column-gap: 10px;
}

@media only screen and (min-width: 834px) {
  .UserInfoRole,
  .UserInfoSubscriptionType,
  .UserInfoTokens,
  .UserInfoControls {
    display: flex;
  }
}
