.ListHead {
  grid-column: 1 / -1;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: subgrid;

  border-radius: 8px 8px 0 0;

  background-color: var(--color-black);
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14px 20px;

  column-gap: 10px;
}

.ListHead.shrink .Title:not(:nth-child(1), :nth-child(2)) {
  display: none;
}

.TitleText {
  color: var(--color-gray-6);
}

.ArrowIcon {
  transition: transform 0.2s ease-in;
}

.ArrowIcon.AscSort {
  transform: rotate(180deg);
}

.ArrowIcon.DescSort {
  transform: rotate(0);
}

@media only screen and (min-width: 834px) {
  .ListHead.shrink .Title:not(:nth-child(1), :nth-child(2)) {
    display: flex;
  }
}
