.Users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 29px 16px 51px;

  background-color: var(--color-gray-4);
}

.Title {
  margin-bottom: 27px;

  color: var(--color-white);
}

.UsersSearch {
  margin-bottom: 18px;
}

.UsersList {
  flex: 1;

  width: 100%;
}

.UsersListPagination {
  align-self: center;

  margin-top: 24px;
}

.Spinner {
  position: absolute;
  inset: 0;
  z-index: 2;
}

@media only screen and (min-width: 834px) {
  .Users {
    padding: 29px 24px 34px;

    border-radius: 0 0 18px 18px;
  }
}

@media only screen and (min-width: 1920px) {
  .Users {
    padding: 29px 34px 45px;
  }
}
